# Supabase
NEXT_PUBLIC_SUPABASE_URL= "sb_publishable_WJV0oJq16oOyiiHIy3A9XA_VSvvgOCQ"
NEXT_PUBLIC_SUPABASE_ANON_KEY= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1nbm5oZ2xtZGJocW5haHRoeXl3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUyNjA1MzUsImV4cCI6MjEwMDgzNjUzNX0.bJQ8-xh8YnDB26LdyZQYOGvnAqNQ0GVnjAeNBOy66hU"
SUPABASE_SERVICE_ROLE_KEY= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1nbm5oZ2xtZGJocW5haHRoeXl3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTI2MDUzNSwiZXhwIjoyMTAwODM2NTM1fQ.uKUVYG_U39_VTZGw8adCnpRgDv-_sXFiWIwBVIJabgI"

# Optional: Resend, if you want confirmation emails later
RESEND_API_KEY=
